flask
opencv-python-headless<5.0.0
dlib-bin; sys_platform == "win32"
dlib; sys_platform != "win32"
face_recognition
numpy
pandas
scikit-learn
supabase
python-dotenv
setuptools<70.0.0
Click
Pillow
face_recognition_models
gunicorn; sys_platform != "win32"
